.TripViewNav {
  padding: 5px;
  text-align: center;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}

.nav-buttons {
  margin-top: 3px;
  margin-left: 0px;
  margin-right: 0px;
  font-family: "Ubuntu", sans-serif;
  margin: 0 8px 8px 8px;
  width: 190px !important;
}

@media all and (max-width: 430px) {
  .nav-buttons {
    width: 180px !important;
  }
}

@media(min-width: 430px) {

}

.nav-buttons:hover{
  cursor: pointer;
}

@media all and (min-width: 650px) {
  .nav-buttons {
    margin-top: 0px;
  }
}
